<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skripsiku">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DaftarBluetooth"></activity>
        <!-- <activity android:name=".bluetooth.MainActivity"></activity> -->
        <activity android:name=".bluetooth.BleOperationsActivity" />
        <activity android:name=".HalamanPalingUtama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HalamanUtama" />
        <activity android:name=".DaftarMahasiswaActivity" />
        <activity android:name=".TambahDataMahasiswaActivity" />
        <activity android:name=".UpdateDataMahasiswaActivity" />
    </application>

</manifest>